.table-header{
  background-color: #7758E2;
  color: white;
  font-size: 1.3rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1024px){
    display: none;
  }
  
  
  & > tr{
    
    height: 3rem !important;
    

  }
  &__item{
    text-align: left;
    padding-left: 1rem;
    line-height: 3rem;

    &:first-child{
      padding-left: 3rem;
    }
  }
}